* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}


/* CSS bài 1 */
.quanLyTuyenSinh {
    padding: 30px;
}

.input_container {
    display: flex;
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.container button {
    padding: 10px;
    margin-top: 10px;
    background: rgb(221, 240, 192);
    border-radius: 30%;
    font-size: 30px;
}

.ip_QLTS input {
    font-size: 20px;
    font-weight: 300;
    border-radius: 10%;
}

.ip_QLTS select {
    font-size: 20px;
    font-weight: 300;
    border-radius: 10%;
}

/* CSS bài 2 */
.tinhTienDien {
    padding: 30px;
}

.inputTTD_container {
    display: flex;
    padding: 30px 0 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.ip_TTD input {
    font-size: 20px;
    font-weight: 300;
    border-radius: 10%;
}

.ip_TTD select {
    font-size: 20px;
    font-weight: 300;
    border-radius: 10%;
}


/* CSS bài 3 */
.tinhThue {
    padding: 30px;
}

.inputTTT_container {
    display: flex;
    padding: 30px 0 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.ip_TTT input {
    font-size: 20px;
    font-weight: 300;
    border-radius: 10%;
}

.ip_TTT select {
    font-size: 20px;
    font-weight: 300;
    border-radius: 10%;
}

/* CSS bài 4 */
.tinhTienCap {
    padding: 30px;
}

.inputTTC_container {
    display: flex;
    padding: 30px 0 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.ip_TTC input {
    font-size: 20px;
    font-weight: 300;
    border-radius: 10%;
}

.ip_TTC select {
    font-size: 20px;
    font-weight: 300;
    border-radius: 10%;
}